.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(8, 78, 83);
    padding: 10px;
    height: 80px;
  }
  
  .left {
    flex: 1;
  }
  
  .center {
    flex: 1;
    text-align: center;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin: 0 20px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background: rgb(95, 92, 92);
    border-radius: 25px;
    padding: 5px 10px;
  }
  
  .search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
    max-width: 200px;
  }
  
  .search-box input::placeholder {
    color: white;
  }
  
  .search-box button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 5px;
  }